{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.mobile_image' %}
  {% include 'custom_fields.collections.hide_header_title' %}
  {% include 'custom_fields.collections.mobile_image2' %}
  {% include 'custom_fields.collections.show_mobile_heading' %}
</div>