{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.custom_tag' %}
  {% include 'custom_fields.products.sale' %}
  {% include 'custom_fields.products.category' %}
  {% include 'custom_fields.products.subtitle_callout' %}
</div>