<!-- Instructions:
Add this HTML div where you want the module to be displayed.
-->
<div id="storyboxModule"></div>

<!--
Add this embed code before the </head> or </body> tag.
-->
<script type="text/javascript">
    (function(){
        window.vgModuleSettings = {
            containerId: 'storyboxModule'
        }
    })();
</script>
<script src="//app.getstorybox.com/c/hsb/2b58ee/blanqi-stories.js" type="text/javascript" async="true"></script>
