<div class="mailing-list text-center">

  {% if section.settings.form != blank %}
	  {{ section.settings.form }}
  {% endif %}
  
</div>

{% schema %}
  {
    "name": "Footer subscribe form",
    "settings": [
      {
        "type": "textarea",
        "id": "form",
        "label": "Form code"
      }
    ],
    "blocks": [
    ]
  }
{% endschema %}