<div class="mailing-list text-center">
  <div class="container">
    <div class="col-12">

      <h4 class="h4-small text-white mt-md-2 mb-2">Subscribe</h4>
      <p class="serif text-white mb-3 d-none">
        Stay up to date with the latest collections, giveaways and more.
      </p>
      <div class="klaviyo-footer-form klaviyo-form-NtwkjN"></div>

      <!-- <form action="{{ settings.mailchimp_link }}" method="post" name="mc-embedded-subscribe-form" class="contact-form mb-0" id="contact_form" target="_blank">
        <div class="js-reason-input">
          <div class="footer-reason-item">
            <input id="expecting" type="radio" value="I'm pregnant" name="REASON">
            <label for="expecting">I'm expecting<span></span></label>
            
          </div>
          <div class="footer-reason-item">
            <input id="mama" type="radio" value="I'm a mama" name="REASON">
            <label for="mama">I'm a mama <span></span></label>
           
          </div>
          <div class="footer-reason-item">
            <input id="browsing" type="radio" value="Shopping for a gift" name="REASON">
            <label for="browsing">Just browsing <span></span></label>
           
          </div>
        </div>   
        <div class="input-group justify-content-center">
         <input type="email" value="" name="EMAIL" class="contact_email" placeholder="{{ 'general.newsletter_form.placeholder' | t }}">
          <div class="input-group-append">
            <input type="submit" value="›" class="action_button sign_up" name="subscribe" />
          </div>
        </div>      
        
        
      </form> -->
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer subscribe form",
  "settings": [

  ],
  "blocks": [
  ]
}
{% endschema %}
