<div class="sixteen columns clearfix collection_nav">
  <h3 class="text-center m-3">Page Not Found</h3>
</div>

<div class="sixteen columns">
  <div class="section clearfix">
    <p class="quote">
      {{ 'general.404.subtext' | t }}
    </p>
  </div>
</div>

<div class="section clearfix search_page">  
  <div class="sixteen columns center">
    <p class="extra_padding">
      {{ 'general.404.continue_shopping_html' | t }}
    </p>
  </div>    
  <div class="six columns offset-by-five">
    <form class="search" action="/search">
      <label class="sr-only" for="search">search</label>
      <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}"  value="{{ search.terms }}" />
    </form>
  </div>
</div>


<h4 class="immersive-reqs-blanqi-title">Recommended For You</h4>
{% comment %}Installed automatically by Cross Sell Magic{% endcomment %}
{% include 'embedded-product-recommendations' %}