{% section 'collection' %}
<h4 class="immersive-reqs-blanqi-title">You May Also Like</h4>
{% comment %}Installed automatically by Cross Sell Magic{% endcomment %}
{% include 'embedded-product-recommendations' %}