<div class="sixteen columns page clearfix size-guide-page">

	<h1 class="center title">{{ page.title }}</h1>
	<div class='thirds thirds-img'>
		<div>
			<img src="//cdn.shopify.com/s/files/1/0169/0840/products/MAT_BS_Overbust_tank_wht_1_1024x1024.jpg?v=1426009290">  		
		</div>
		<div>
			<img src="//cdn.shopify.com/s/files/1/0169/0840/products/MAT_BS_Overbust_tank_blk_1_1024x1024.jpg?v=1426009290">
		</div>
		<div class='size-img'>
			<h3>Bodystyler Maternity Support Tanktop</h3>
			<img src="https://cdn.shopify.com/s/files/1/0169/0840/files/BLANQI_SIZE_GUIDE_MATERNITY_SUPPORT_TANKTOP-new2.svg">				
		</div>
	</div>
	<div class='thirds thirds-text'>
		<div>
			<p><strong>Best time to buy:</strong></p>
			<p><strong>1st trimester:</strong> If you feel heavy, your pants feel tight and you want to look and feel more ‘pregnant’.</p>
			<p><strong>2nd trimester:</strong>All of the above…and if you’re active and working out, need to extend your wardrobe to be able to include both pre-pregnancy and maternity, and need back &amp; belly support all day or on bedrest.</p>
			<p><strong>3rd trimester:</strong> All of the above…. and if you’re feeling the effects of pregnancy with backaches, belly heaviness, overall discomfort and uncomfortable in your clothing.</p>
		</div>
		<div>
			<p><strong>Maternity sizing tip:</strong></p>
			<p>If in-between sizes, we suggest you size up if in your 3rd trimester.</p>
			<p><strong>1-3 Months:</strong> Use your pre-pregnancy size</p>
			<p><strong>4-6 Months:</strong> Use your pre-pregnancy size</p>
			<p><strong>7-9 Months:</strong> Use your pre-pregnancy size and size up 1 size if in-between sizes</p>
		</div>
		<div>
			<p><strong>Design detail:</strong></p>
			<p>The built-in belly support area has a fully opaque, solid belly coverage, so you can wear out without layering over it.</p>
		</div>
	</div>

	<div class='thirds thirds-img'>
		<div>
			<img src="https://cdn.shopify.com/s/files/1/0169/0840/products/MAT_BS_Underbust_tank_blk_1_2048x2048.jpg?v=1426009169">  		
		</div>
		<div>
			<img src="//cdn.shopify.com/s/files/1/0169/0840/products/MAT_BS_Underbust_tanklong_wht_3_2048x2048.jpg?v=1426009169">
		</div>
		<div class='size-img'>
			<h3>Bodystyler Maternity Support Underbust Belly Support Tank</h3>
			<img src="https://cdn.shopify.com/s/files/1/0169/0840/files/BLANQI_SIZE_GUIDE_MATERNITY_SUPPORT_UNDERBUST_TANK-new.svg">				
		</div>
	</div>
	<div class='thirds thirds-text'>
		<div>
			<p><strong>Best time to buy:</strong> </p>
			<p><strong>1st trimester:</strong> If you feel heavy, your pants feel tight and you want to look and feel more ‘pregnant’.</p>
			<p><strong>2nd trimester:</strong> All of the above…and if you’re active and working out, need to extend your wardrobe to be able to include both pre-pregnancy and maternity, standing for long periods of time, and need back & belly support.</p>
			<p><strong>3rd trimester:</strong> All of the above….and if you’re  feeling the effects of pregnancy with backaches, belly heaviness, overall discomfort and uncomfortable in your clothing.</p>	
		</div>
		<div>
			<p><strong>Maternity sizing tip:</strong></p>
			<p>If in-between sizes, we suggest you size up if in your 3rd trimester.</p>
			<p><strong>1-3 Months:</strong> Use your pre-pregnancy size</p>
			<p><strong>4-6 Months:</strong> Use your pre-pregnancy size</p>
			<p><strong>7-9 Months:</strong> Use your pre-pregnancy size and size up 1 size if in-between sizes</p>
		</div>
		<div>
			<p><strong>Design detail:</strong></p>
			<p>During the seamless knitting, the machine ‘drops’ the yarn during the transition of stitches that creates the ultra support in the built-in belly support area. When looking at the interior of the garment, you may notice what appears to be ‘fraying’, but that is actually a common feature of circular knitting- you may have noticed it before on the inside heel area of a pair of socks. Your Bodystyler is completely secure and is not a sign of damage or irregularities.</p>
		</div>
	</div>

	<div class='thirds thirds-img'>
		<div>
			<img src="//cdn.shopify.com/s/files/1/0169/0840/products/BLANQI_Maternity_Support_BellyBand_white_d3a0a9d9-cfa3-4322-a545-6ec46c41e010_2048x2048.jpg?v=1426009045">  		
		</div>
		<div>
			<img src="//cdn.shopify.com/s/files/1/0169/0840/products/BLANQI_Maternity_Support_BellyBand_black_c0307b20-6368-49da-ae0c-800cc554eb2e_2048x2048.jpg?v=1426009045">
		</div>
		<div class='size-img'>
			<h3>Maternity Built-In Support Bellyband</h3>
			<img src="https://cdn.shopify.com/s/files/1/0169/0840/files/BLANQI_SIZE_GUIDE_MATERNITY_SUPPORT_BELLYBAND.svg?4283555734089444891">				
		</div>
	</div>
	<div class='thirds thirds-text'>
		<div>
			<p><strong>Best time to buy:</strong></p>
			<p><strong>1st trimester:</strong> If you feel heavy, your pants feel tight and you want to look and feel more ‘pregnant’.<p>
			<p><strong>2nd trimester:</strong> All of the above…and if you’re active and working out, need to extend your wardrobe to be able to include both pre-pregnancy and maternity, and needing strapless support to wear with strapless or strappy top styles.</p>
			<p><strong>3rd trimester:</strong> All of the above…. and if you’re  feeling the effects of pregnancy with back aches, belly heaviness, overall discomfort and uncomfortable in your clothing.<p>
		</div>
		<div>
			<p><strong>Maternity sizing tip:</strong></p>
			<p>Use your pre-pregnancy size.</p>
		</div>
		<div>
			<p><strong>Design detail:</strong></p>
			<p>During the seamless knitting, the machine ‘drops’ the yarn during the transition of stitches that creates the ultra support in the built-in belly support area. When looking at the interior of the garment, you may notice what appears to be ‘fraying’, but that is actually a common feature of circular knitting- you may have noticed it before on the inside heel area of a pair of socks. Your Bodystyler is completely secure and is not a sign of damage or irregularities.</p>
		</div>
	</div>

	<div class='thirds thirds-img'>
		<div>
			<img src="//cdn.shopify.com/s/files/1/0169/0840/products/MAT_Seamless_Legging_blk_GBG_2_2048x2048.jpg?v=1415025821">  		
		</div>
		<div>
			<img src="//cdn.shopify.com/s/files/1/0169/0840/products/MAT_Seamless_Legging_blk_GBG_1_2048x2048.jpg?v=1415025821">
		</div>
		<div class='size-img'>
			<h3>Maternity Belly Lift + Support Leggings</h3>
			<img src="https://cdn.shopify.com/s/files/1/0169/0840/files/BLANQI_SIZE_GUIDE_MATERNITY_SUPPORT_LEGGINGS.svg">				
		</div>
	</div>
	<div class='thirds thirds-text'>
		<div>
			<p><strong>Best time to buy:</strong></p>
			<p><strong>1st trimester:</strong> When you barely have a bump, but are sensitive to any pressure on your belly area or struggling with pregnancy nausea and need comfortable clothing.</p>
			<p><strong>2nd trimester:</strong> All of the above…and if you’re active and working out, standing for long periods of time, and need a style staple to last your entire pregnancy.</p>
			<p><strong>3rd trimester:</strong> All of the above….and if you’re  feeling the effects of pregnancy with back aches, belly heaviness, overall discomfort and uncomfortable in your clothing.</p>
		</div>
		<div>
			<p><strong>Maternity sizing tip:</strong></p>
			<p>These run large, so buy a size smaller if you’re in-between the size range.</p>
		</div>
		<div>
			<p><strong>Design detail:</strong></p>
			<p>During the seamless knitting, the machine ‘drops’ the yarn during the transition of stitches that creates the ultra support in the built-in belly support area. When looking at the interior of the garment, you may notice what appears to be light ‘fraying’ along the edge of the belly support, but that is actually a common feature of circular knitting - you may have noticed it before on the inside heel area of a pair of socks. Your Bodystyler is completely secure and is not a sign of damage or irregularities.</p>
		</div>
	</div>
	<center>
		<p><a href="http://www.blanqi.com/pages/size-guide-womens">Go to: <strong>Find Your Fit - Womens</strong></a></p>
  	</center>
</div>
