<div class="row faq-template custom-faq-template custom-page-terms">
  <div id="accordion" class="col-12"> 
    <div class="breadcrumb-collection">
      <div class="breadcrumb_text" style="margin-left: 0">
        <span>
          <a href="https://www.blanqi.com" title="BLANQI" class="breadcrumb_link">
            <span>HOME</span>
          </a>
        </span>
        <span class="breadcrumb-divider">/</span>
        <span>
          <a href="/pages/terms" title="Shop" class="breadcrumb_link">
            <span>TERMS &amp; CONDITIONS</span>
          </a>
        </span>
      </div>
    </div>
    <div class="custom-page-heading cms-page-content">
    <h1>Terms and Conditions</h1>
    {{ page.content }}
  </div>
  </div>
</div>