{{ 'landing-pages.scss.css' | asset_url | stylesheet_tag }}
{% assign shop_now = "/products/blanqi-everyday-highwaist-postpartum-nursing-support-leggings" %}
<div class="blanqi-styles-wrap">
  
  <div class="col-full img nursing-leggings-1 first">
    <div class="submarine pos-right3 pos-top2">
      <p class="small preheader">HIGHLY VERSATILE</p> 
      <h1>HIGHWAIST POSTPARTUM + <br>NURSING SUPPORT LEGGINGS</h1>
      <p class="block-text">The first ever nursing leggings created for bodies motherhood made. High waist design rises to just below your bra line to smooth, secure and conceal a postpartum belly. Perfectly balanced, supremely soft, luxe fabric delivers equal parts chic + comfort.</p> 
      <a href="{{ shop_now }}" class="btn-transparent">shop now</a>
    </div>
  </div>
  
  <div class="col-full img nursing-leggings-2 stacking">
    <div class="submarine pos-left text-align-left">
      <p class="small preheader2">GENTLE MID-SECTION COMPRESSION</p> 
      <h2>SUPPORTWEAR NOT <br class="mobile-only">SHAPEWEAR</h2> 
      <p class="block-text2">Let’s face it being a new mother is hard enough, so why would you want to feel uncomfortable in tight compression garments that bind and constrict? That’s why we designed our leggings with an extra high waist that stays in place and 360&deg; of gentle mid-section support to smooth and secure your postpartum belly without restriction. Perfectly balanced compression designed to gently reawaken your core muscles and encourage good posture to energize without taking your breath away.</p>
    </div>
  </div>
  
  <div class="col-full img nursing-leggings-3">
    <div class="submarine pos-right4 text-align-left pos-topn1">
      <p class="small preheader2 color-darkgrey">LUXE ATHLETIC FABRIC</p> 
      <h2>EVERY DAY <br class="mobile-only">WORKOUT WEAR</h2> 
      <p class="block-text2 top-margin color-black mobile-color-darkgrey">We designed our postpartum leggings to perform just like you and your body. Our signature BLANQI microfiber has a breathable, moisture-wick finish so you can stay cool and dry, no matter what life throws at you that causes you to sweat! From low impact stretching, to high-impact running to simply running after your babes our leggings provide incredibly comfortable support along the way.</p>
    </div>
  </div>
  
  <div class="col-full img nursing-leggings-4 stacking">
    <div class="submarine pos-left text-align-left">
      <p class="small preheader2">SEAMLESS DESIGN</p> 
      <h2>SEAM-FREE, <br class="mobile-only">SMOOTHING COMFORT</h2> 
      <p class="block-text2 top-margin color-darkgrey">No scratchy seams on your tender postpartum belly or irritation on c-section scars. And no unfortunately placed seams on other sensitive parts either. Our leggings are constructed using 3D knitting technology as a tube. That means when you wear it, it can stretch 360° around your legs, as opposed to traditional cut and sew leggings where the stretch is only 2-dimensional. Combined with graduated compression targeting your waist, lower belly, hips, bum and thighs, the result is your post-baby lumps and bumps are smoothed for a streamlined silhouette and a welcome confidence boost.</p>
    </div>
  </div>

  <div class="col-full img nursing-leggings-5 fifth">
    <div class="submarine pos-right4 text-align-left pos-top2">
      <p class="small preheader2 color-darkgrey">HIGH WAIST DESIGN</p> 
      <h2>MADE FOR DISCREET NURSING</h2>
      <p class="block-text2 top-margin color-darkgrey">Because we don’t want elastic cutting us off right in the middle, because we move around (A LOT) and need all our bits and pieces covered and because we breastfeed in public and want to feel as comfortable as possible we designed our postpartum leggings with a stay-put, extra high waist that finishes just under the bra line. With ultimate flexibility, you’re just as comfortable sitting as you are standing and you can say goodbye to bulges from waistbands that dig into your sides (yes we’re talking about you muffin top).</p>
      <a href="{{ shop_now }}" class="btn-transparent">shop now</a>
    </div>
  </div>
  
  <div class="col-full img nursing-leggings-6">
    <div class="submarine pos-top3 pos-left2 text-align-left">
      <p class="small preheader2">INCREDIBLY VERSATILE</p> 
      <h2>LEGGINGS YOU’LL LOVE <br class="mobile-only">TO LIVE IN</h2> 
      <p class="block-text2 top-margin color-black">Figuring out what to wear after having a baby can be difficult; your body has changed, nothing fits the same, and if you’re nursing, you don’t want to wear clothes that will leave you feeling uncomfortable or exposed. BLANQI Postpartum Support Leggings take the stress out of daily dressing - the ultimate pair of `classic black leggings’ that every new mama needs. Go out, work out, breastfeed and even sleep in these, your only regret will be that you didn’t buy more than one pair.</p>
    </div>
  </div>

  <div class="col-full img nursing-leggings-7 natural-fill">
    <div class="specs align-right">
      <div class="specs-inner">
        <h2>WHEN TO WEAR</h2>
        <p class="block-text">Pregnant, Postpartum, Nursing or not, these are the leggings you will love to live in. Wear in 1st trimester before you really 'pop' or when hiding a bump, then fold down during your 2nd and 3rd Trimester for extra under-belly support. Perfect for post-delivery, pack in your hospital bag and you're on your way to an easier postpartum recovery. Designed for bodies motherhood made, these will help you feel covered when breastfeeding and secure from your toddler days to teen years.</p>
      </div>
      <a href="{{ shop_now }}" class="btn-transparent inverted btn-large">SHOP NOW</a>
    </div>
  </div>
  
  <div class="col-full find-out-more">
    <h3>find out more about other postpartum + nursing support products</h3>
    <a class="col-third col-xs-full img nursing-related-1" 
       href="https://www.blanqi.com/pages/nursing-overbust-tanktop-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>PULL-DOWN</h3>
        <h3>POSTPARTUM + NURSING</h3>
        <h3>SUPPORT TANKTOP</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img nursing-related-2" 
       href="https://www.blanqi.com/pages/nursing-leggings-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>HIGHWAIST</h3>
        <h3>POSTPARTUM + NURSING</h3>
        <h3>SUPPORT LEGGINGS</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img nursing-related-3" 
       href="https://www.blanqi.com/pages/nursing-underbust-tanktop-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>LIFT-UP ACCESS UNDERBUST</h3>   
        <h3>POSTPARTUM + NURSING</h3>
        <h3>SUPPORT TANK</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <div style="clear:both;"></div>
  </div>
</div>