{{ 'landing-pages.scss.css' | asset_url | stylesheet_tag }}
<div class="blanqi-styles-wrap">
  
  <div class="col-full img underbust-tanktop-1 first">
    <div class="submarine pos-right3 pos-top2">
      <p class="small preheader">ULTIMATE SUPPORT</p> 
      <h1>MATERNITY<br class="desktop-only">UNDERBUST<br>SUPPORT TANK</h1>
      <p class="block-text">The original BLANQI invention that started it all. Unrivaled support that’s built into our patented underbust tank often imitated but never replicated. The tank that loves to be layered, wear under your favorite top for instant relief from pregnancy aches and pains and energy boosting support.</p> 
      <a href="/collections/support-tops" class="btn-transparent">shop now</a>
    </div>
  </div>
  
  <div class="col-full img underbust-tanktop-2 stacking">
    <div class="submarine pos-left2 text-align-left">
      <p class="small preheader2">INTEGRATED BELLY<br class="mobile-only">SUPPORT BAND</p> 
      <h2>PAIN ERASING DYNAMIC LIFT</h2> 
      <p class="block-text2">Seamless, built-in, belly support band provides powerful abdominal
lift and support, redistributing baby weight to ease common pregnancy pains. Wrapping 360&deg; around the body, placed low on the belly and connecting to X-shaped upper back support, the belly compression band decreases pressure on the pelvic floor, delivers welcome relief from abdominal and round ligament pain and reduces stress on the lower back. This pain-reducing miracle worker will shift your focus from irritating aches to flutters and kicks.</p>
    </div>
  </div>
  
  <div class="col-full img underbust-tanktop-3 mobile-gradient-top">
    <div class="submarine pos-right4 text-align-left white">
      <p class="small preheader2">X-SHAPED BACK SUPPORT</p> 
      <h2>SWEET RELIEF FOR <br class="mobile-only">ACHING BACKS</h2> 
      <p class="block-text2">We know how hard pregnancy can be on your body and back pain is one of the most common pregnancy complaints. So we engineered innovative X-shaped back support to strengthen and brace the upper back, minimize stress on the lower back and abdominals and reduce sciatic nerve pain. As your center of gravity shifts, reinforced 4-way back support also encourages better posture helping you stand straighter and feel more motivated to take on the day.</p>
    </div>
  </div>
  
  <div class="col-full img underbust-tanktop-4 stacking">
    <div class="submarine pos-left2 text-align-left">
      <p class="small preheader2">GRADUATED COMPRESSION</p> 
      <h2>DESIGNED WITH YOUR <br class="mobile-only">BODY IN MIND</h2> 
      <p class="block-text2">Graduated degrees of compression, united with the belly support band create a knit-in anchor to reinforce lift and redistribute weight. Technically tailored, the ergonomic compression zones, precisely follow the contours of the pregnant body so you'll feel support where you need it with plenty of freedom for your growing bub. Pains and strains are a thing of the past, and the best part? Our compression panels have a contouring effect to round and smooth out extra lumps for a picture-perfect baby bump.</p>
    </div>
  </div>

  <div class="col-full img underbust-tanktop-5 fifth">
    <div class="submarine pos-right3 text-align-left white">
      <p class="small preheader2">RESPONSIVE BELLY PANEL</p> 
      <h2>ADAPTS TO YOUR  <br class="mobile-only">CHANGING BODY</h2>
      <p class="block-text2">With ultimate flexibility, the semi-opaque responsive belly panel provides a strategically placed stretch area to easily expand as your body grows. The incredibly stretchy, over-the-belly panel is ultra lightweight and provides plenty of breathing space so you won't feel squeezed, even if you're carrying multiples. Thoughtfully designed with absolute stretch and recover fabric that won't lose shape, the Underbust Tank is built for growing bodies and long-lasting comfort.</p>
      <a href="/collections/support-tops" class="btn-transparent inverted">shop now</a>
    </div>
  </div>
  
  <div class="col-full img underbust-tanktop-6 mobile-gradient-bottom">
    <div class="submarine pos-left text-align-left mobile-white mobile-bottom">
      <p class="small preheader2 color-darkgrey">LUXE ATHLETIC FABRIC</p> 
      <h2>KEEP YOUR COOL <br class="mobile-only">&amp; BREATHE EASY</h2> 
      <p class="block-text2 color-darkgrey">High performance yarns put in the work for you, wicking away moisture to keep you cool and dry in heat, warm and secure in cold and remarkably confident no matter what. Like a second skin, featherweight microfiber with exceptional ventilation and breathability works to regulate temperature and prevent overheating, even when layered with other clothes. With a luxurious feel, the finish is luminous but not shiny and buttery soft to touch.</p>
    </div>
  </div>
  
  <div class="col-full img underbust-tanktop-7 mobile-gradient-top">
    <div class="submarine pos-right4 pos-top2 text-align-left mobile-white">
      <p class="small preheader2 color-black">UNDERBUST DESIGN</p> 
      <h2>MATERNITY WEAR <br class="mobile-only">THAT DOES MORE</h2>
      <p class="block-text2 color-black">The scoop chest cut is designed to sit under the bust so you can wear any shaping bra and won't look flattened under clothes. Plus, the underbust design gives an added elevating effect and with your pregnant bust being a little heavier than usual, who couldn't do with a little extra lift?!</p> 
    </div>
  </div>

  <div class="col-full img underbust-tanktop-8 natural-fill" style="display:none;">
    <div class="specs">
      <div class="specs-inner">
        <p class="small preheader2"></p>
        <h2></h2>
        <p class="block-text"></p>
      </div>
      <a href="/collections/support-tops" class="btn-transparent inverted btn-large">shop tanktop now</a>
    </div>
  </div>
  
  <div class="col-full find-out-more">
    <h3>Find out more about other maternity support products</h3>
    <a class="col-third col-xs-full img bellyband-related-1" 
       href="https://www.blanqi.com/pages/maternity-leggings-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>MATERNITY</h3>
        <h3>BELLY SUPPORT</h3>
        <h3>LEGGINGS</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img overbust-related-3" 
       href="https://www.blanqi.com/pages/maternity-supportband-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>MATERNITY</h3>
        <h3>BUILT-IN SUPPORT</h3>
        <h3>BELLYBAND</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img bellyband-related-3" 
       href="https://www.blanqi.com/pages/maternity-overbust-tanktop-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>MATERNITY</h3>   
        <h3>BELLY SUPPORT</h3>
        <h3>TANKTOP</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <div style="clear:both;"></div>
  </div>
</div>