{{ 'blackfriday.scss.css' | asset_url | stylesheet_tag }}
<div class="blackfriday-landing">
  <div class="col-full img img-1 first">
    <div class="center-center">
      <p>MATERNITY + POSTPARTUM</p>
      {{ 'BF2017-logo.png' | file_url | img_tag }}
      <h1><strong>50% OFF</strong> LEGGINGS SALE</h1>
      <h2></h2>
	
      <div class="bb-wrap">
        <div class="button-box left">
          <div class="inner">
            <a class="btn-black" href="/products/maternity-high-performance-belly-lift-support-leggings">SHOP MATERNITY</a>
            <br>
            <a class="btn-underline" href="/pages/maternity-leggings-learn-more">LEARN MORE</a>
          </div>
        </div>
        <div class="button-box right">
          <div class="inner">
            <a class="btn-black"href="/products/high-performance-high-waist-leggings">SHOP POSTPARTUM</a>
            <br>
            <a class="btn-underline" href="/pages/nursing-leggings-learn-more">LEARN MORE</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="col-full white">
    <div class="desktop-only">
      <p>ALL DAY COMFORT</p>
      <h1>MATERNITY BELLY<br>SUPPORT LEGGINGS</h1>
       <h2></h2>
    </div>
    <div class="mobile-only">
      <p>MATERNITY BELLY SUPPORT LEGGINGS</p>
      <h1>BLURRING THE LINES</h1>
      <h1>BETWEEN FASHION &amp;</h1>
      <h1>PRACTICALITY</h1>
       <h2></h2>
      <p class="block-text">We took our patented belly support design and invented 
        the first ever leggings with built-in seam-free support 
        that smoothes and secures all 3 trimesters. That means 
        a more comfortable pregnancy without any pressure or 
        tightness on your growing belly.</p>
    </div>
  </div>
  <div class="col-full img img-2 drawing maternity">
    <div class="unit right">
      <h1>FLEXIBLE</h1>
       <h2></h2>
      <p>No pressure or tightness</p>
      <p>on growing bellies</p>
      <div class="line"></div>
    </div>
    <div class="unit left">
      <h1>SUPPORTIVE</h1>
       <h2></h2>
      <p>360&deg; built-in belly</p>
      <p>and back support</p>
      <div class="line"></div>
    </div>
    <div class="unit right">
      <div class="line"></div>
      <h1>SEAMLESS</h1>
       <h2></h2>
      <p>No seams on sensitive areas.</p>
    </div>
  </div>
  <div class="col-full img img-3">
    <div class="submarine left desktop-only">
      <h1>BLURRING THE LINES BETWEEN</h1>
      <h1>FASHION &amp; PRACTICALITY</h1>
       <h2></h2>
      <p>We took our patented belly support design and invented 
        the first ever leggings with built-in seam-free support 
        that smoothes and secures all 3 trimesters. That means 
        a more comfortable pregnancy without any pressure or 
        tightness on your growing belly.</p>
      <a class="btn-transparent" href="/products/maternity-high-performance-belly-lift-support-leggings"><strong>50% OFF</strong> BUY NOW</a>
    </div>
    <div class="center-bottom mobile-only">
      <a class="btn-black" href="/products/maternity-high-performance-belly-lift-support-leggings"><strong>50% OFF</strong> BUY NOW</a>
    </div>
  </div>
  <div class="col-full white">
    <div class="desktop-only">
      <p>YOUR AFTER BABY SAVIOUR</p>
      <h1>POSTPARTUM + NURSING<br>SUPPORT LEGGINGS</h1>
       <h2></h2>
    </div>
    <div class="mobile-only">
      <p>POSTPARTUM + NURSING LEGGINGS</p>
      <h1>DESIGNED FOR BODIES</h1>
      <h1>MOTHERHOOD MADE</h1>
       <h2></h2>
      <p class="block-text">Because we don't want elastic cutting us off 
        right at our middle, because we move around 
        (A LOT!) and need coverage, because seams irritate 
        us, because we have c-section scars, and because 
        we breastfeed in public and want to feel as 
        comfortable as possible.</p>
    </div>
  </div>
  <div class="col-full img img-4 drawing postpartum">
   <div class="unit right">
      <div class="line mobile-only"></div>
      <h1>HIGH WAIST</h1>
       <h2></h2>
      <p>Postpartum tummy stays</p>
      <p>covered, smooth + supported</p>
      <div class="line desktop-only"></div>
    </div>
    <div class="unit left">
      <div class="line mobile-only"></div>
      <h1>SEAMLESS</h1>
       <h2></h2>
      <p>C-section friendly + no</p>
      <p>seams on sensitive areas</p>
      <div class="line desktop-only"></div>
    </div>
    <div class="unit right">
      <div class="line desktop-only"></div>
      <h1>COMFORTABLE</h1>
       <h2></h2>
      <p>All day, everyday wear,</p>
      <p>not tight like shapewear</p>
      <div class="line mobile-only"></div>
    </div>
    <div class="unit left">
      <div class="line desktop-only"></div>
      <h1>LUXE FABRIC</h1>
       <h2></h2>
      <p>Ultra-soft to the touch</p>
      <div class="line mobile-only"></div>
    </div>
  </div>
  <div class="col-full img img-5">
    <div class="submarine left desktop-only">
      <h1>DESIGNED FOR BODIES</h1>
      <h1>MOTHERHOOD MADE</h1>
       <h2></h2>
      <p>Because we don't want elastic cutting us off 
        right at our middle, because we move around 
        (A LOT!) and need coverage, because seams irritate 
        us, because we have c-section scars, and because 
        we breastfeed in public and want to feel as 
        comfortable as possible.</p>
      <a class="btn-transparent" href="/products/high-performance-high-waist-leggings"><strong>50% OFF</strong> BUY NOW</a>
    </div>
    <div class="center-bottom mobile-only">
      <a class="btn-black" href="/products/high-performance-high-waist-leggings"><strong>50% OFF</strong> BUY NOW</a>
    </div>
  </div>
</div>