{{ 'landing-pages.scss.css' | asset_url | stylesheet_tag }}
<div class="blanqi-styles-wrap">
  
  <div class="col-full img maternity-tanktop-1 first">
    <div class="submarine pos-right3 pos-top2">
      <p class="small preheader">WEARABLE TECH</p> 
      <h1>MATERNITY Belly</h1>
      <h1>Support Tanktop</h1>
      <p class="block-text">Also known as the pregnancy “lifesaver” discover the first full coverage maternity tank, engineered with a body-conforming support system. Advanced construction with zoned areas
of compression and lift with absolute flexibility to provide targeted pain relief and supreme all day comfort for expectant bodies.</p> 
      <a href="/collections/support-tops" class="btn-transparent">shop now</a>
    </div>
  </div>
  
  <div class="col-full img maternity-tanktop-2 stacking">
    <div class="submarine pos-left text-align-left">
      <p class="small preheader2">INTEGRATED BELLY SUPPORT BAND</p> 
      <h2>FEEL LIGHTER WITH<br class="mobile-only"> INSTANT LIFT</h2> 
      <p class="block-text2">Your secret ally against pain and discomfort, the flexible seamless support band acts like a traditional pregnancy support belt to lift the belly but without the bulk and restriction of movement. Wrapping 360&deg; around your body - low around your growing bump and connecting
to stabilizing upper back support, our targeted compression band alleviates belly heaviness and redistributes baby weight. The result is less stress on the lower back and a feeling of instant relief, helping you feel like you again.</p>
    </div>
  </div>
  
  <div class="col-full img maternity-tanktop-3">
    <div class="submarine pos-right4 text-align-left white">
      <p class="small preheader2">X-SHAPED BACK SUPPORT</p> 
      <h2>BACK PAIN, MINIMIZED</h2> 
      <p class="block-text2">50-70% of all pregnant women suffer from back pain during their pregnancies. Our revolutionary, interconnected X-shaped back support works to solve this fundamental problem. Stabilizing support braces the upper back, soothing aches, relieving strain and promoting good posture to give you back the get-up-and-go that pregnancy takes away.</p>
    </div>
  </div>
  
  <div class="col-full img maternity-tanktop-4 stacking">
    <div class="submarine pos-left text-align-left">
      <p class="small preheader2">GRADUATED COMPRESSION</p> 
      <h2>ENGINEERED FOR <br class="mobile-only">ULTIMATE COMFORT</h2> 
      <p class="block-text2 top-margin">Our technical, seamless 3d knit construction adapts to your blossoming body’s every curve. Strategically placed panels of stronger and gentler compression create a lifted and secure feeling combined with flexibility and freedom for maximum comfort. Multi-gradient compression follows and defines the natural contours of the pregnant body, delivering the most advanced reactive maternity support garment available. With an added bonus: a beautifully rounded baby bump.</p>
    </div>
  </div>

  <div class="col-full img maternity-tanktop-5 fifth">
    <div class="submarine pos-right3 text-align-left white">
      <p class="small preheader2">RESPONSIVE BELLY PANEL</p> 
      <h2>Moves &amp; Grows <br class="mobile-only">With You</h2>
      <p class="block-text2 top-margin">Super stretchy belly panel helps you feel supported, not squeezed and gives your precious cargo plenty of room to grow. Soft to the touch and smart on design, our ultra flexible stretch-panel allows for total freedom of movement and adapts to belly size, cradling your growing bump in comfort throughout all 3 trimesters. Even mamas-to-be carrying multiples will feel generously accommodated. Plus, the opaque luxe athletic fabric won’t look see-through and holds in a popping belly button for a smooth and sleek silhouette.</p>
      <a href="/collections/support-tops" class="btn-transparent inverted">shop now</a>
    </div>
  </div>
  
  <div class="col-full img maternity-tanktop-6">
    <div class="submarine pos-left text-align-left mobile-white mobile-bottom">
      <p class="small preheader2">LUXE ATHLETIC FABRIC</p> 
      <h2>Stay Cool, Dry <br class="mobile-only">&amp; Comfortable</h2> 
      <p class="block-text2">Designed to stretch, wick moisture, and breathe, our featherlight, high performance fabric is made to be lived in all year round. It's so easy to overheat when you’re pregnant so our tanks are made from a breathable cotton blend to help to regulate temperature whilst moisture wicking microfiber actively draws sweat away from the body, keeping you cool and dry. Exceptional quality construction and highly durable fabric with absolute stretch and recover capability will see you throughout multiple pregnancies.</p>
    </div>
  </div>
  
  <div class="col-full img maternity-tanktop-7">
    <div class="submarine pos-right4 pos-top text-align-left white">
      <p class="small preheader2">FOR EVERY STAGE</p> 
      <h2>MATERNITY WEAR <br class="mobile-only">THAT DOES MORE</h2>
      <p class="block-text2 top-margin">Supportwear you don’t have to cover up, simply throw on and go. Generous bust support for sensitive chests so you can wear with or without a bra. Plus no need to waste money on maternity clothes our support tanktop helps you extend the life of your old wardrobe. Longer length hem band holds up unbuttoned jeans or loose pants. Wear under loose tops for security and coverage, pair with a jacket or wear alone with our maternity leggings and prepare for compliments on your perfectly curved baby bump.</p> 
    </div>
  </div>

  <div class="col-full img maternity-tanktop-8 natural-fill">
    <div class="specs">
      <div class="specs-inner">
        <h2>WHEN TO WEAR</h2>
        <p class="block-text">Wear as soon as you start to show in the first trimester and let people know your bump is a baby and not just a big lunch! The expandable belly panel will grow with you all the way to D-day.</p>
      </div>
      <a href="/collections/support-tops" class="btn-transparent inverted btn-large">shop tanktop now</a>
    </div>
  </div>
  
  <div class="col-full find-out-more">
    <h3>Find out more about other maternity support products</h3>
    <a class="col-third col-xs-full img overbust-related-1" 
       href="https://www.blanqi.com/pages/maternity-leggings-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>MATERNITY</h3>
        <h3>BELLY SUPPORT</h3>
        <h3>LEGGINGS</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img overbust-related-2" 
       href="https://www.blanqi.com/pages/maternity-underbust-tanktop-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>MATERNITY</h3>  
        <h3>UNDERBUST BELLY</h3>
        <h3>SUPPORT TANK</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img overbust-related-3" 
       href="https://www.blanqi.com/pages/maternity-supportband-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>MATERNITY</h3>
        <h3>BUILT-IN SUPPORT</h3>
        <h3>BELLYBAND</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <div style="clear:both;"></div>
  </div>
</div>