<div class="row">
  <div class="col-12">

    <div class="mb-3" style="background: #ffe3cc;">
      <img src="//cdn.shopify.com/s/files/1/0169/0840/files/watch-learn-video-title.png" alt="
      image" class="m-auto m-sm-3" />
    </div>
  </div>

  <div class="col-12 col-sm-3 video-titles">
    <p class="serif d-block pb-2 mb-2" style="font-size: 1.2rem; border-bottom: 1px solid #eaeaea;">
      Videos:
    </p>
    <a class="d-block mb-3" style="font-size:0.7rem;" href="//fast.wistia.net/embed/iframe/kv5bo95fvq?popover=true">
      BLANQI Girls on Business &amp; Friendship
    </a>
    <a class="d-block mb-3" style="font-size:0.7rem;" href="//fast.wistia.net/embed/iframe/s3naabg481?popover=true">
      Just for kicks: BLANQI Bloopers
    </a>
    <a class="d-block mb-3" style="font-size:0.7rem;" href="//fast.wistia.net/embed/iframe/mh1u0ujn68?popover=true">
      Support Hosiery Collection
    </a>
    <a class="d-block mb-3" style="font-size:0.7rem;" href="//fast.wistia.net/embed/iframe/ht19ub741z?popover=true">
      Pregnancy Timelapse
    </a>
  </div>
  <div class="col-12 col-sm-9">
    <div class="row">
      <div class="col-6">
        <a href="//fast.wistia.net/embed/iframe/mh1u0ujn68?popover=true" class="wistia-popover[height=360,playerColor=7b796a,width=640] blanqi-vid mb-3">
          <img src="https://embed-ssl.wistia.com/deliveries/6c438670074bd883a2c91b6f4ffb7210dd7c5a94.jpg?image_play_button=true&amp;image_play_button_color=7b796ae0&amp;image_crop_resized=340x191" alt="screengrab for video: the support hosiery collection" />
        </a>
        <p class="text-center" style="font-size:0.7rem;">
          <strong class="video-titles">SUPPORT HOSIERY COLLECTION</strong>
        </p>
        <p class="text-center" style="font-size:0.7rem;">
          Take a sneak peak behind the scenes with 
          the team as we shoot our brand new support 
          hosiery campaign.
        </p>
      </div>
      <div class="col-6">
        <a href="//fast.wistia.net/embed/iframe/s3naabg481?popover=true" class="wistia-popover[height=366,playerColor=7b796a,width=651] blanqi-vid mb-3">
          <img src="https://embed-ssl.wistia.com/deliveries/f2853231f6e995abd1a78f1adbd15acabb950a06.jpg?image_play_button=true&amp;image_play_button_color=7b796ae0&amp;image_crop_resized=340x191" alt="screengrab for video: blanqi bloopers" />
        </a>
        <p class="text-center" style="font-size:0.7rem;">
          <strong class="video-titles">BLANQI BLOOPERS</strong>
        </p>
        <p class="text-center" style="font-size:0.7rem;">
          Just for laughs. A collection of goofy 
          bloopers and LOL moments captured 
          inbetween takes.
        </p>
      </div>
      <div class="col-6">
        <a href="//fast.wistia.net/embed/iframe/kv5bo95fvq?popover=true" class="wistia-popover[height=366,playerColor=7b796a,width=651] blanqi-vid mb-3">
          <img src="https://embed-ssl.wistia.com/deliveries/2bf7b71c10fa4f5f3e4c5626253a302e97e4c606.jpg?image_play_button=true&amp;image_play_button_color=7b796ae0&amp;image_crop_resized=340x191" alt="screengrab for video: Blanqi girls on business and friendship" />
        </a>
        <p class="text-center" style="font-size:0.7rem;">
          <strong class="video-titles">BLANQI girls on business &amp; friendship</strong>
        </p>
        <p class="text-center" style="font-size:0.7rem;">
          Entrepreneurs, mamas and best friends, 
          Valerie &amp; Sabina share their thoughts 
          on mixing business with friendship
        </p>
      </div>
      <div class="col-6">
        <a href="//fast.wistia.net/embed/iframe/ht19ub741z?popover=true" class="wistia-popover[height=360,playerColor=7b796a,width=640] blanqi-vid mb-3">
          <img src="https://embed-ssl.wistia.com/deliveries/31d209119955d603e4fb4d21e16bfa6d40f06c7d.jpg?image_play_button=true&amp;image_play_button_color=7b796ae0&amp;image_crop_resized=340x191" alt="screengrab for video: pregnancy timelapse" />
        </a>
        <p class="text-center" style="font-size:0.7rem;">
          <strong class="video-titles">PREGNANCY TIMELAPSE</strong>
        </p>
        <p class="text-center" style="font-size:0.7rem;">
          See how you can make moments in your BLANQI.
        </p>
      </div>
    </div>
  </div>
</div>
  <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
