{{ 'landing-pages.scss.css' | asset_url | stylesheet_tag }}
{% assign shop_now = "/products/blanqi-maternity-support-bellyband" %}
<div class="blanqi-styles-wrap">
  
  <div class="col-full img maternity-bellyband-1 first">
    <div class="submarine pos-right3 pos-top2 white">
      <p class="small preheader">ONE-OF-A-KIND</p> 
      <h1>MATERNITY SUPPORT<br>BELLYBAND</h1>
      <h2></h2>
      <p class="block-text">Experience a belly band like no other. All of our patented support features, seamlessly built into one effortless, throw-on-and-go, super supportive belly band. Slide over unbuttoned pants or under loose tops and feel instantly covered, secure and confident.</p> 
      <a href="{{ shop_now }}" class="btn-transparent inverted">shop now</a>
    </div>
  </div>
  
  <div class="col-full img maternity-bellyband-2 stacking">
    <div class="submarine pos-left2 text-align-left">
      <p class="small preheader2">INTEGRATED BELLY SUPPORT BAND</p> 
      <h2>SMOOTH, SNUG &amp; SECURE</h2> 
      <h3></h3>
      <p class="block-text2">The only maternity band on the market with a knit-in, seamless targeted compression band to lift and support the belly. With precision placement, the support band wraps low around the belly, extending 360&deg; around the body to be anchored by stabilizing X-shaped back support. The result is reduced pressure on the pelvic floor, decreased abdominal strain and less stress on the lower back. No wonder it has been coined ‘maternity magic’ by social influencers.</p>
    </div>
  </div>
  
  <div class="col-full img maternity-bellyband-3">
    <div class="submarine pos-right4 text-align-left white">
      <p class="small preheader2 color-darkgrey">X-SHAPED BACK SUPPORT</p> 
      <h2>REINFORCEMENT FOR <br class="mobile-only">TIRED BACKS</h2> 
      <h3></h3>
      <p class="block-text2 color-black mobile-color-darkgrey">Revolutionary X-shaped back support encourages good posture, keeping you motivated and energized. Stabilizing support and sleek, seamless design combine to be your secret armor fighting pregnancy discomfort.</p>
    </div>
  </div>
  
  <div class="col-full img maternity-bellyband-4 stacking">
    <div class="submarine pos-left2 text-align-left">
      <p class="small preheader2">GRADUATED COMPRESSION</p> 
      <h2>TARGETED SEAMLESS SUPPORT</h2> 
      <h3></h3>
      <p class="block-text2">Compared to most pregnancy bands, which are made of a simple elasticized tube, the BLANQI bellyband, with body conforming, multi-gradient compression packs a powerful punch when it comes to support. Graduated degrees of compression, united with a knit-in anchor, redistribute belly heaviness and alleviate pressure for lightweight comfort you’ll want to live in.</p>
    </div>
  </div>

  <div class="col-full img maternity-bellyband-5 fifth">
    <div class="submarine pos-right4 text-align-left white">
      <p class="small preheader2">RESPONSIVE BELLY PANEL</p> 
      <h2>ROOM TO GROW &amp; BREATHE</h2>
      <h3></h3>
      <p class="block-text2 color-darkgrey">Support that changes with your body. With ultimate flexibility, the over-the-belly stretch panel provides strategically placed compression and stretch areas. Breathable, almost-opaque, expandable belly panel comfortably supports your growing babe without restriction throughout all three trimesters.</p>
      <a href="{{ shop_now }}" class="btn-transparent inverted">shop now</a>
    </div>
  </div>
  
  <div class="col-full img maternity-bellyband-6">
    <div class="submarine pos-left text-align-left mobile-bottom">
      <p class="small preheader2 color-darkgrey mobile-color-black">LUXE ATHLETIC FABRIC</p> 
      <h2>COOL DRY &amp; COMFORTABLE</h2> 
      <h3></h3>
      <p class="block-text2 color-darkgrey mobile-color-black">High performance fabric feels inherently cool and works fast to move moisture away from the skin on hot days or when the simple act of carrying an extra load makes you work up a sweat. Featherlight and ultra breathable, the BLANQI bellyband won’t stifle when worn with layers.</p>
    </div>
  </div>
  
  <div class="col-full img maternity-bellyband-7">
    <div class="submarine pos-right4 text-align-left">
      <p class="small preheader2 color-black">FOR EVERY STAGE</p> 
      <h2>EXPECT MORE FROM <br class="mobile-only">YOUR BELLY BAND</h2>
      <h3></h3>
      <p class="block-text2 color-black">High performance support and essential security for every stage. The BLANQI Bellyband is designed to integrate with your wardrobe and lifestyle. Wear through every stage of pregnancy. It's the all too easy essential foundation piece you’ll want to wear morning, noon, and night.</p> 
    </div>
  </div>

  <div class="col-full img maternity-bellyband-8 natural-fill">
    <div class="specs">
      <div class="specs-inner">
        <h2>When To Wear</h2>
        <h3></h3>
        <p class="block-text">
          The only maternity belly band that does double-duty 
          during pregnancy and after. Simply slide on for sweet 
          relief from 1st to 4th trimester. Start wearing during 
          1st trimester before you start showing, but your 
          pre-pregnancy clothes stop fitting. During 2nd trimester 
          it helps smooth and secure your pre-pregnancy clothing 
          and extends your wardrobe. By 3rd trimester, you can 
          layer over BLANQI maternity leggings for the ultimate in
          support, and sleep in it for relief from stressed 
          muscles and aching backs. After delivery, wear during 
          your '4th trimester' by turning it around and positioning 
          the X-support anchor over your post-pregnancy tummy for 
          gentle compression.</p>
      </div>
      <a href="{{ shop_now }}" class="btn-transparent inverted btn-large">shop bellyband now</a>
    </div>
  </div>
  
  <div class="col-full find-out-more">
    <h3>Find out more about other maternity support products</h3>
    <a class="col-third col-xs-full img bellyband-related-1" 
       href="https://www.blanqi.com/pages/maternity-leggings-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>MATERNITY</h3>
        <h3>BELLY SUPPORT</h3>
        <h3>LEGGINGS</h3>
        <h4></h4>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img bellyband-related-2" 
       href="https://www.blanqi.com/pages/maternity-underbust-tanktop-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>MATERNITY</h3>  
        <h3>UNDERBUST BELLY</h3>
        <h3>SUPPORT TANK</h3>
         <h4></h4>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img bellyband-related-3" 
       href="https://www.blanqi.com/pages/maternity-overbust-tanktop-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>MATERNITY</h3>   
        <h3>BELLY SUPPORT</h3>
        <h3>TANKTOP</h3>
         <h4></h4>
        <div class="draw-line"></div>
      </div>
    </a>
    <div style="clear:both;"></div>
  </div>
</div>