{{ 'landing-pages.scss.css' | asset_url | stylesheet_tag }}
{% assign shop_now = "/products/blanqi-everyday-maternity-belly-support-leggings" %}
<div class="blanqi-styles-wrap">
  
  <div class="col-full img maternity-leggings-1 first">
    <div class="submarine pos-right3 pos-top2">
      <p class="small preheader">PERFECTLY BALANCED</p> 
      <h1>MATERNITY BELLY</h1>
      <h1>SUPPORT LEGGINGS</h1>
      <p class="block-text">These are the maternity leggings you’ve been looking for. A true innovation that perfectly balances form and function. Lightweight, full coverage, luxe leggings fused with all of our patented support features. So comfortable, supportive and versatile, they will change the way you experience pregnancy.</p> 
      <a href="{{ shop_now }}" class="btn-transparent">shop now</a>
    </div>
  </div>
  
  <div class="col-full img maternity-leggings-2 stacking">
    <div class="submarine pos-left text-align-left">
      <p class="small preheader2">INTEGRATED BELLY SUPPORT BAND</p> 
      <h2>INVISIBLE LIFT <br class="mobile-only">FOR LESS STRESS</h2> 
      <p class="block-text2">Smooth and seamlessly built-in, the belly support band, gently lifts the belly and redistributes weight to help reduce abdominal and lower back pressure. Wrapping around 360&deg; then anchored to X-shaped back support the built-in belly band feels like a supportive hug for aching bodies. Experience a snug and secure sensation whilst enjoying unrestricted movement and absolute all-day comfort.</p>
    </div>
  </div>
  
  <div class="col-full img maternity-leggings-3">
    <div class="submarine pos-right3 text-align-left white">
      <p class="small preheader2">X-SHAPED BACK SUPPORT</p> 
      <h2>STABILIZE TO ENERGIZE</h2> 
      <p class="block-text2 top-margin">X-shaped back reinforcement eases lower back pressure and encourages better posture to keep you energized. Seamlessly connected to the belly support band these features work as a team to deliver support where you need it most. Just try walking with and without these leggings on and you’ll feel the difference.</p>
    </div>
  </div>
  
  <div class="col-full img maternity-leggings-4 stacking">
    <div class="submarine pos-left text-align-left">
      <p class="small preheader2">GRADUATED COMPRESSION</p> 
      <h2>TAILORED TO SMOOTH <br class="mobile-only">&amp; SECURE</h2> 
      <p class="block-text2 top-margin">Our advanced 3D knit, seamless construction allows us to deliver highly technical tailoring. Strategically placed panels create zones of varying compression, following the natural contours of the pregnant body. Targeted compression and lift sensations precisely graduate to a feeling of freedom and relaxation for ultimate comfort. Plus, seamless tube construction allows for an overall compression effect so you'll feel smooth and lifted throughout your hips, bottom and thighs.</p>
    </div>
  </div>

  <div class="col-full img maternity-leggings-5 fifth">
    <div class="submarine pos-right3 text-align-left mobile-white">
      <p class="small preheader2 color-darkgrey">RESPONSIVE BELLY PANEL</p> 
      <h2>EXPANDS EFFORTLESSLY</h2>
      <p class="block-text2 top-margin color-darkgrey">Designed with a highly responsive belly support panel that changes with your body you can trust that unlike some pregnancy leggings, these won’t leave you feeling squished or squeezed. Almost-opaque, ultra flexible belly panel expands easily as your bump grows and absolute stretch and recover microfiber means that the fabric won’t ever lose shape, no matter how big your bundle gets.</p>
      <a href="{{ shop_now }}" class="btn-transparent mobile-inverted">shop now</a>
    </div>
  </div>
  
  <div class="col-full img maternity-leggings-6">
    <div class="submarine pos-topn1 pos-left text-align-left white mobile-bottom">
      <p class="small preheader2">LUXE ATHLETIC FABRIC</p> 
      <h2>KEEP YOUR COOL <br class="mobile-only">&amp; BREATHE EASY</h2> 
      <p class="block-text2 top-margin">The last thing you want when you’re pregnant to feel is weighed down by bulky garments, or “suffocated” by heavy, so-called “performance” fabrics that do nothing but increase perspiration (and, frankly, we’ve got plenty of that as it is). So we designed our leggings to be light as a feather, made with breathable fibers for better ventilation and moisture wicking capabilities that draw sweat away from the body. Plus the buttery soft, luminous finish looks and feels luxe.</p>
    </div>
  </div>
  
  <div class="col-full img maternity-leggings-7">
    <div class="submarine pos-right3 pos-top2 text-align-left mobile-bottom mobile-white">
      <p class="small preheader2 color-darkgrey">COMFORTABLE &amp; VERSATILE</p> 
      <h2>MADE TO FIT <br class="mobile-only">YOUR NEW LIFE</h2>
      <p class="block-text2 top-margin color-darkgrey">Dress them up or down, these are your go-with-everything leggings. Sleek enough to impress on a night out, comfy enough to sleep in. And with breathable, moisture-wicking fabric &mdash; perfect for pregnancy work-outs. Finish is luminous but not shiny. Seamless for a smooth and fashionable fit with no awkward seams up the middle.</p> 
    </div>
  </div>

  <div class="col-full img maternity-leggings-8 natural-fill">
    <div class="specs">
      <div class="specs-inner">
        <h2>WHEN TO WEAR</h2>
        <p class="block-text">As soon as you see that positive pregnancy test you can feel your waistline getting a little thicker. When your skinny jeans become a battle to put on and only increase your nausea, it's time to switch to BLANQI leggings and enjoy your pregnancy in comfort.</p>
      </div>
      <a href="{{ shop_now }}" class="btn-transparent inverted btn-large">SHOP NOW</a>
    </div>
  </div>
  
  <div class="col-full find-out-more">
    <h3>Find out more about other maternity support products</h3>
    <a class="col-third col-xs-full img overbust-related-3" 
       href="https://www.blanqi.com/pages/maternity-supportband-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>MATERNITY</h3>
        <h3>BUILT-IN SUPPORT</h3>
        <h3>BELLYBAND</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img bellyband-related-2" 
       href="https://www.blanqi.com/pages/maternity-underbust-tanktop-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>MATERNITY</h3>  
        <h3>UNDERBUST BELLY</h3>
        <h3>SUPPORT TANK</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img bellyband-related-3" 
       href="https://www.blanqi.com/pages/maternity-overbust-tanktop-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>MATERNITY</h3>   
        <h3>BELLY SUPPORT</h3>
        <h3>TANKTOP</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <div style="clear:both;"></div>
  </div>
</div>