{{ 'landing-pages.scss.css' | asset_url | stylesheet_tag }}
{% assign shop_now = "/products/lift-up-access-postpartum-nursing-support-tank" %}
<div class="blanqi-styles-wrap">
  
  <div class="col-full img nursing-underbust-1 first">
    <div class="submarine pos-right3 pos-top2">
      <p class="small preheader"> LIFT-UP ACCESS </p> 
      <h1> UNDERBUST <br> POSTPARTUM + NURSING <br> SUPPORT TANK </h1>
      <p class="block-text">Designed for bodies motherhood made, our Underbust Nursing Support tank features a convenient open-bust design for instant breastfeeding access; plus targeted gentle compression for your post-baby body's challenge areas.</p> 
      <a href="{{ shop_now }}" class="btn-transparent">shop now</a>
    </div>
  </div>
  
  <div class="col-full img nursing-underbust-2 stacking">
    <div class="submarine pos-left2 text-align-left">
      <p class="small preheader2"> MULTI LAYERS OF GENTLE COMPRESSION </p> 
      <h2> SUPPORTWEAR <br class="mobile-only">NOT SHAPEWEAR </h2> 
      <p class="block-text2"> Layers of gentle mid-section compression offer zoned support without discomfort of traditional shapewear. Whilst 360 degree, seamless supportive panels smooth those extra lumps and bumps on the hips, back, and belly for an instant streamlined silhouette.  </p>
    </div>
  </div>
  
  <div class="col-full img nursing-underbust-3">
    <div class="submarine pos-right4 text-align-left">
      <p class="small preheader2 color-darkgrey"> UNDER BUST DESIGN </p> 
      <h2> EFFORTLESS <br class="mobile-only">BREASTFEEDING </h2> 
      <p class="block-text2 color-black mobile-color-darkgrey"> If you’re a lift-up kind of breastfeeding mama then this tank will make your life with your new babe just a little easier. Open bust design offers instant access, simply wear with your favorite maternity or nursing bra. Plus the underbust cut delivers an  extra bust lift, a welcome boost for heavier-than-usual chests. </p>
    </div>
  </div>
  
  <div class="col-full img nursing-underbust-4 stacking">
    <div class="submarine pos-left2 text-align-left">
      <p class="small preheader2"> POSTPARTUM ABDOMINAL SUPPORT </p> 
      <h2> SUPPORT IN ALL <br class="mobile-only">THE RIGHT PLACES </h2> 
      <p class="block-text2"> Seam-free targeted compression supports weakened abdominal muscles to create the sensation of a supportive hug… which, lets face it, is much more practical than a squeeze that’s so tight you can’t wait to take it off. Dynamic support that moves with you to help you feel held together, comfortable, and confident. </p>
    </div>
  </div>

  <div class="col-full img nursing-underbust-5 fifth">
    <div class="submarine pos-right4 text-align-left">
      <p class="small preheader2"> SEAMLESS CONSTRUCTION </p> 
      <h2> SEAMLESS FOR <br class="mobile-only">SENSITIVE SKIN </h2>
      <p class="block-text2 color-darkgrey"> Innovative 3D knit construction means compression panels are seamlessly woven together. The result is no scratchy seams on your sensitive postpartum belly or irritation on C-section scars. </p>
      <a href="{{ shop_now }}" class="btn-transparent">shop now</a>
    </div>
  </div>
  
  <div class="col-full img nursing-underbust-6">
    <div class="submarine pos-left text-align-left">
      <p class="small preheader2 color-darkgrey"> LUXE ATHLETIC FABRIC </p> 
      <h2> STAY COOL DRY &amp; <br class="mobile-only">COMFORTABLE </h2> 
      <p class="block-text2 color-darkgrey"> Designed with superior, breathable, moisture wicking fabric to draw sweat away from the skin, even on the hottest or most stressful days, you’ll keep your cool. Plus buttery soft yarn feels amazing and looks luxe. </p>
    </div>
  </div>
  
  <div class="col-full img nursing-underbust-7">
    <div class="submarine pos-right4 text-align-left">
      <p class="small preheader2 color-darkgrey"> X-SHAPED BACK SUPPORT </p> 
      <h2> EASE LOWER BACK ACHE </h2>
      <p class="block-text2 color-darkgrey"> Even after we have our babes our backs don’t get a break. Hunching over to nurse, picking up bub or bending over a cot can put a lot of strain on your back. That’s why our Postpartum tanks are also designed with X-shaped back support to ease posterior aches and pains. A little extra support also encourages proper posture to keep you motivated. </p> 
    </div>
  </div>

  <div class="col-full img nursing-underbust-8 natural-fill">
    <div class="specs">
      <div class="specs-inner">
        <p class="small preheader2"></p>
        <h2> WHEN TO WEAR </h2>
        <p class="block-text"> Comfy enough to wear as soon as your babe is born. Super soft, seamless microfibre won’t irritate sensitive skin or C-section scars, plus the gentle compression around your mid-section can provide much needed support immediately after delivery. Enjoy the instant access of an open-bust, especially when you’re feeding around the clock! </p>
      </div>
      <a href="{{ shop_now }}" class="btn-transparent inverted btn-large">shop tanktop now</a>
    </div>
  </div>
  
  <div class="col-full find-out-more">
    <h3>find out more about other postpartum + nursing support products</h3>
    <a class="col-third col-xs-full img nursing-related-1" 
       href="https://www.blanqi.com/pages/nursing-overbust-tanktop-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>PULL-DOWN</h3>
        <h3>POSTPARTUM + NURSING</h3>
        <h3>SUPPORT TANKTOP</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img nursing-related-2" 
       href="https://www.blanqi.com/pages/nursing-leggings-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>HIGHWAIST</h3>
        <h3>POSTPARTUM + NURSING</h3>
        <h3>SUPPORT LEGGINGS</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img nursing-related-3"
       href="https://www.blanqi.com/pages/nursing-underbust-tanktop-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>LIFT-UP ACCESS UNDERBUST</h3>   
        <h3>POSTPARTUM + NURSING</h3>
        <h3>SUPPORT TANK</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <div style="clear:both;"></div>
  </div>
</div>