
<div class="blanqi-join-wrap full-width">
  <div class="col-full img">
    <div class="submarine pos-right3 pos-top2">

    </div>
  </div>
</div>
<div class="row blanqi-join-content">
  <div class="col-12">
    <p style="text-align:center;"><img src="{{ 'join-the-list-headline.png' | asset_img_url: '480x' }}" alt="hi there!" /></p>
    <p class="intro-text">Like to stay updated on the latest collections, flash sales and giveaways?<br />Tell us a bit about yourself and sign up for BLANQI® news!</p>

      <form action="https://BLANQI.us15.list-manage.com/subscribe/post?u=ab7f933879a81ed9e437d9336&amp;id=6cec2ae5b9" method="post" id="mc-embedded-subscribe-form-2" name="mc-embedded-subscribe-form" class="text-left" target="_blank" novalidate>
        <fieldset class="radio-container">
          <div class="radios">
            <div class="field-group">
              <input type="radio" value="I'm pregnant" name="REASON">
              <div class="control-radio js-email-reason" data-value="I'm pregnant">I'm expecting.</div>
            </div>
            <div class="field-group">
              <input type="radio" value="I'm a mama" name="REASON">
              <div class="control-radio js-email-reason" data-value="I'm a mama">I'm a mama.</div>
            </div>
            <div class="field-group">
              <input type="radio" value="Shopping for a gift" name="REASON">
              <div class="control-radio js-email-reason" data-value="Shopping for a gift" style="border-bottom: 0 !important;">Just Browsing.</div>
            </div>
          </div>

        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <label class="serif"><span class="sr-only">Email</span>
          <input type="text" name="b_ab7f933879a81ed9e437d9336_6cec2ae5b9" tabindex="-1" value="">
          </label>
        </div>

        <div class="field-group email-group">
           <label><span class="sr-only">Email</span>
          <input type="email" value="" name="EMAIL" placeholder="Enter your email" class="email"/>
          <input type="submit" name="subscribe" value="SIGN ME UP" class="submit" />
          </label>
        </div>
        </fieldset>
      </form>
    
    <!--	
	<div class="newsletter-info">
	  <div class="newsletter-description">
        



<div class="remodal rmsc modal-capture">
  <div class="modal-body p-0">
    <div class="half">
    </div>
    <div class="half">
      <button data-remodal-action="close" class="close"></button>

    </div>
  </div>
</div>
          
          
		</div>
	</div>
    -->
  </div>
</div>