<div class="sixteen columns page clearfix size-guide-welcome">

  <h1 class="center title">{{ page.title }}</h1>
  <h2></h2>
  <p>We want you to fall in love with BLANQI the moment you open your box! Please use our size charts and advice as a general guide. If you need assistance selecting the proper size, please contact Customer Care.</p>
  
  <div class="navigate">
    <a href="http://www.blanqi.com/pages/size-guide-womens">
      <img src="https://cdn.shopify.com/s/files/1/0169/0840/files/size-guide-choose-womens-title.jpg?8575382286096315297" alt="image" class="right">
    </a>
  </div><div class="navigate">
    <a href="http://www.blanqi.com/pages/find-your-fit-maternity">
      <img src="https://cdn.shopify.com/s/files/1/0169/0840/files/size-guide-choose-maternity-title.jpg?8575382286096315297" alt="image" class="left">
    </a>                    
  </div>

</div>
