<div class="row faq-template custom-faq-template">
  <div id="accordion" class="col-12" id="custom-sidebar">
    <div class="breadcrumb-collection" style="display: none;">
      <div class="breadcrumb_text" style="margin-left: 0">
        <span>
          <a href="https://www.blanqi.com" title="BLANQI" class="breadcrumb_link">
            <span>HOME</span>
          </a>
        </span>
        <span class="breadcrumb-divider">/</span>
        <span>
          <a href="/pages/giveaways" title="Shop" class="breadcrumb_link">
            <span>GIVEAWAYS</span>
          </a>
        </span>
      </div>
    </div>
    
    <div class="terms-content">
   	{{ page.content }}
    </div>
  </div>
</div>