{{ 'landing-pages.scss.css' | asset_url | stylesheet_tag }}
{% assign shop_now = "/products/pull-down-postpartum-nursing-support-tanktop" %}
<div class="blanqi-styles-wrap">
  
  <div class="col-full img nursing-overbust-1 first">
    <div class="submarine pos-right3 pos-top2 mobile-white">
      <p class="small preheader">PULL DOWN</p> 
      <h1>POSTPARTUM + <br>NURSING SUPPORT <br>TANKTOP</h1>
      <p class="block-text">Bridging the gap between fashion and function, the world’s first high-performance, postpartum support tank. Pull down for easy breastfeeding with generous bust coverage and absolute stretch-and-recovery fabric. Made with you and motherhood in mind.</p> 
      <a href="{{ shop_now }}" class="btn-transparent mobile-inverted">shop now</a>
    </div>
  </div>
  
  <div class="col-full img nursing-overbust-2 stacking">
    <div class="submarine pos-left2 text-align-left">
      <p class="small preheader2">MULTI LAYERS OF GENTLE COMPRESSION</p> 
      <h2>SUPPORT WITHOUT <br class="mobile-only">RESTRICTION</h2> 
      <p class="block-text2">Multi gradient compression acts as a gentle reminder to engage your core but without squeezing the life out of you like traditional shapewear. Innovative, 360 degree, seamless support smooths those extra lumps and bumps on the hips, back, and belly for an instant streamlined silhouette. </p>
    </div>
  </div>
  
  <div class="col-full img nursing-overbust-3">
    <div class="submarine pos-right4 text-align-left">
      <p class="small preheader2 color-darkgrey">OVER BUST DESIGN</p> 
      <h2>BUST SUPPORT + EASY NURSING</h2> 
      <p class="block-text2 color-black mobile-color-darkgrey">Any mama who’s ever had her bra exposed in a loose top by a wriggly baby will appreciate the stay-in-place snug fit and generous bust coverage the overbust Tanktop affords. Plus absolute stretch and recover fabric has been designed to easily pull down to breastfeed.</p>
    </div>
  </div>
  
  <div class="col-full img nursing-overbust-4 stacking">
    <div class="submarine pos-left2 text-align-left">
      <p class="small preheader2">POSTPARTUM ABDOMINAL SUPPORT</p> 
      <h2>SUPPORT WHERE YOU NEED IT MOST</h2> 
      <p class="block-text2">Targeted compression works to gently support abdominal muscles weakened after pregnancy but without the tight feeling and restrictive movement of some postpartum compression garments. Perfectly balanced support to help keep you energized but comfortable enough to wear all day and night.</p>
    </div>
  </div>

  <div class="col-full img nursing-overbust-5 fifth">
    <div class="submarine pos-right4 text-align-left">
      <p class="small preheader2">SEAMLESS CONSTRUCTION</p> 
      <h2>SEAM-FREE FOR SENSITIVE AREAS</h2>
      <p class="block-text2 color-darkgrey">Supremely soft, unbelievably comfortable, seam-free construction means no scratchy seams on your sensitive postpartum belly or irritation on C-section scars.</p>
      <a href="{{ shop_now }}" class="btn-transparent">shop now</a>
    </div>
  </div>
  
  <div class="col-full img nursing-overbust-6">
    <div class="submarine pos-left text-align-left">
      <p class="small preheader2 color-darkgrey">LUXE ATHLETIC FABRIC</p> 
      <h2>STAY COOL DRY<br class="mobile-only"> &amp; COMFORTABLE</h2> 
      <p class="block-text2 color-darkgrey">Whether you're going hard in your post-baby workouts or like most of us, who feel like looking after a baby is a workout in itself, enjoy our signature BLANQI microfiber yarn for superior breathability and moisture wicking finish to keep you cool, dry and comfortable.</p>
    </div>
  </div>
  
  <div class="col-full img nursing-overbust-7">
    <div class="submarine pos-right4 text-align-left">
      <p class="small preheader2 color-darkgrey">X-SHAPED BACK SUPPORT</p> 
      <h2>STABILIZE TO ENERGIZE</h2>
      <p class="block-text2 color-darkgrey">Engineered for supreme all-day comfort our Postpartum Support Tanktop features X-shaped back reinforcement to ease lower back ache and encourage good posture. Put a little extra pep in your step with stabilizing back support.</p> 
    </div>
  </div>

  <div class="col-full img nursing-overbust-8 natural-fill">
    <div class="specs">
      <div class="specs-inner">
        <p class="small preheader2"></p>
        <h2>WHEN TO WEAR</h2>
        <p class="block-text">Comfy enough to wear as soon as your babe is born. Super soft, seamless microfiber won't irritate sensitive skin or C-section scars, plus the gentle compression around your mid-section can provide much needed support immediately after delivery. Stay-in-place, generous bust coverage also helps secure sensitive and unpredictable chests!</p>
      </div>
      <a href="{{ shop_now }}" class="btn-transparent inverted btn-large">shop tanktop now</a>
    </div>
  </div>
  
  <div class="col-full find-out-more">
    <h3>find out more about other postpartum + nursing support products</h3>
    <a class="col-third col-xs-full img nursing-related-1" 
       href="https://www.blanqi.com/pages/nursing-overbust-tanktop-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>PULL-DOWN</h3>
        <h3>POSTPARTUM + NURSING</h3>
        <h3>SUPPORT TANKTOP</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img nursing-related-2" 
       href="https://www.blanqi.com/pages/nursing-leggings-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>HIGHWAIST</h3>
        <h3>POSTPARTUM + NURSING</h3>
        <h3>SUPPORT LEGGINGS</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <a class="col-third col-xs-full img nursing-related-3" 
       href="https://www.blanqi.com/pages/nursing-underbust-tanktop-learn-more" >
      <div class="fill-parent"></div>
      <div class="center-center">
        <h3>LIFT-UP ACCESS UNDERBUST</h3>   
        <h3>POSTPARTUM + NURSING</h3>
        <h3>SUPPORT TANK</h3>
        <div class="draw-line"></div>
      </div>
    </a>
    <div style="clear:both;"></div>
  </div>
</div>